---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$max-width: 90%;

.page{
    padding-right:0px;
}

body {
    font-size: 16px;
}

.greedy-nav a.site-title{
    width:300px;
    color:rgb(118,35,47);  // TODO: getting overriden by a navigation style.  Extreme cascading.
}
.greedy-nav a{
    color:rgb(118,35,47);  // TODO: getting overriden by a navigation style.  Extreme cascading.
}

.sidebar {
    color:rgb(118,35,47);
}

.task {
    margin-top:40px;
    margin-left:40px;
    margin-bottom: 20px;
    counter-increment: tasks-counter;
  }
  .task:before{
    color:  rgb(198,0,126);
    font-style: italic;
    content: "☆ Task " counter(tasks-counter) ": ";
    margin-left: -40px;
  }

  .activity {
    margin-top:40px;
    margin-left:40px;
    margin-bottom: 20px;
    counter-increment: activity-counter;
  }
  .activity:before{
    color: rgb(20, 180, 255);
    font-style: italic;
    content: "☆ Activity " counter(activity-counter) ": ";
    margin-left: -40px;
  }

header {
    text-align: center;
    font-size: 20pt;
}